<div class="container">
  <!-- Barra de búsqueda -->
  <div class="header">
    <h2>Lista de Fórmulas</h2>
    <div class="search-container">
      <input
        type="text"
        class="form-control search-bar"
        placeholder="Buscar fórmula..."
        [(ngModel)]="busqueda"
      />
      <button class="btn-new-component" (click)="abrirModal()">+ Nueva Fórmula</button>
    </div>
  </div>

  <!-- Tabla de Fórmulas -->
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th class="acciones">Producto</th>
          <th class="acciones">Ingrediente</th>
          <th class="acciones">Cantidad</th>
          <th class="acciones">Unidad</th>
          <th class="acciones">Acciones</th> <!-- Centrar botones de acciones -->
        </tr>
      </thead>
      <tbody>
        <tr class="acciones" *ngFor="let formula of filtrarFormulas(); let i = index">
          <td>{{ formula.nameProducto }}</td>
          <td>
            <ul>
              <li class="acciones" *ngFor="let ingrediente of formula.ingredientes">
                {{ ingrediente.name }}
              </li>
            </ul>
          </td>
          <td>
            <ul>
              <li class="acciones" *ngFor="let ingrediente of formula.ingredientes">
                {{ ingrediente.cantidad }}
              </li>
            </ul>
          </td>
          <td>
            <ul>
              <li class="acciones" *ngFor="let ingrediente of formula.ingredientes">
                {{ ingrediente.unidad }}
              </li>
            </ul>
          </td>
          <td class="acciones">
            <button class="btn btn-warning btn-sm" (click)="editarFormula(formula)">Editar</button>
            <button class="btn btn-danger btn-sm" (click)="eliminarFormula(formula.producto)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal -->
  <div class="modal" [class.open]="isModalOpen">
    <div class="modal-content">
      <button class="close" (click)="cerrarModal()">×</button>
      <h3>Crear Fórmula</h3>

      <label for="producto">Seleccionar Producto</label>
      <select id="producto" class="form-control" [(ngModel)]="selectedProducto">
        <option [value]="null" disabled>Selecciona un producto</option>
        <option *ngFor="let producto of producto" [value]="producto.idproduct">
          {{ producto.name }}
        </option>
      </select>

      <h4>Ingredientes</h4>
      <table class="table">
        <tr *ngFor="let ingrediente of ingredientes; let j = index">
          <td>
            <select class="form-control" [(ngModel)]="ingrediente.nombre">
              <option [value]="null" disabled>Selecciona un componente</option>
              <option *ngFor="let componente of componentes" [value]="componente.idcomponent">
                {{ componente.name }}
              </option>
            </select>
          </td>
          <td>
            <input
              type=""
              class="form-control"
              placeholder="Cantidad"
              [(ngModel)]="ingrediente.cantidad"
            />
          </td>
          <td>
          </td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="eliminarIngrediente(j)">Eliminar</button>
          </td>
        </tr>
      </table>

      <button class="btn btn-primary btn-sm" (click)="agregarIngrediente()">+ Agregar Ingrediente</button>
      <button class="btn btn-success btn-sm" (click)="guardarFormula()">Guardar</button>
    </div>
  </div>
</div>
